<div class="row-fluid single-comment" style="border-top: 1px solid #cccccc;margin-top: 10px;padding-top: 10px">
  <div class="row-fluid">
    <div class="span3" style="color: #87a6d5;">
      <strong><%= r.user.name %></strong>
    </div>
    <div class="span8">
      <%= r.content %>
    </div>

    <div class="span1">
      <% if r.user == current_user or current_user.moderator?(@course) %>
        <%= link_to "x", reply_path(r), :method => :delete, :confirm => "Are you sure want to delete this thread?", :class => "close", :title => "Remove" %>
      <% end %>
    </div>   
  </div>

  <div class="row-fluid">
    <div class="span10 offset3" style="color: #777777;">
      <%="#{time_ago_in_words(r.created_at)} ago "%>
    </div>
  </div>
</div>