<li>
  <span>
    <%= link_to "+", "javascript:;", :style => "text-decoration: none; font-size: 17px;margin-right:5px;color:#AF3656" %>
  </span>
  <span>
    <%= link_to "#{@topic.name}", "", :style => "text-decoration:none;color:#323537" %>
  </span>
</li>