<div class="well-wrap well">
  <div class="title">
    Sign up
  </div>

  <div class="panel-content">
    <%= render "form" %>
  </div>

  <div class="panel-footer">
    Don't have an account?
    <%= link_to "Sign up", signup_path %>
  </div>
</div>
