<% if @approved_links.any? %>
  <h5>Approved links for this Course</h5>
  <legend></legend>
  <div class="span12 well links-container">
    <% @approved_links.each_with_index do |link, index| %>
      <div class="list-group">
        <%= render 'links/link_tiny', :link => link, :index => index %>
      </div>
    <% end %>
  </div>
<% end %>
<% if @unapproved_links.any? %>
  <h5>User submitted links for this Course</h5>
  <legend></legend>
  <div class="span12 well links-container">
    <% @unapproved_links.each_with_index do |link, index| %>
      <div class="list-group">
        <%= render 'links/link_tiny', :link => link, :index => index %>
      </div>
    <% end %>
  </div>
<% end %>