<div class="row-fluid">
  <% if current_user and link.user_id == current_user.id %>

    <div class="arrow-up deactive"></div>
    <div class="arrow-text">
      <%= link.vote || 0 %>
    </div>
    <div class="arrow-down deactive"></div>

  <% else %>

    <% if current_user and link.up_voted_by(current_user) %>
      <div class="arrow-up active"></div>
    <% else %>
      <%= link_to vote_link_path(link, :rate => "up"), :remote => true do %>
        <div class="arrow-up"></div>
      <% end %>
    <% end %>

    <div class="arrow-text">
      <%= link.vote || 0 %>
    </div>

    <% if current_user and link.down_voted_by(current_user) %>
      <div class="arrow-down active"></div>
    <% else %>
      <%= link_to vote_link_path(link, :rate => "down"), :remote => true do %>
        <div class="arrow-down"></div>
      <% end %>
    <% end %>

  <% end %>

</div>