<div class="span12">
  <h3>Schools home</h3>
  <div id="container">
    <% @courses.each do |course| %>
      <div class="item" >
        <%= link_to course.name, course_path(course), :target => "_blank" %>
      </div>
    <% end %>
  </div>
</div>


<%= content_for :js do %>

  <%#*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>%>
  <%= javascript_include_tag "masonry.pkgd.min" %>
  <%= javascript_include_tag "jquery.infinitescroll.min" %>



  <script type="text/javascript">
    $(document).ready(function(){

      var container = document.querySelector('#container');
      var msnry = new Masonry( container, {
        // options
        columnWidth: 100,
        gutter: 10,
        itemSelector: '.item'
      });

      <%#*$('#container').infinitescroll({%>
        <%#*// other options%>
        <%#*dataType: 'json',%>
        <%#*appendCallback: false%>
      <%#*}, function(json, opts) {%>
        <%#*// Get current page%>
        <%#*var page = opts.state.currPage;%>
        <%#*// Do something with JSON data, create DOM elements, etc ..%>
      <%#*});%>

      $('#container').infinitescroll({

        navSelector  : "div.navigation",
        // selector for the paged navigation (it will be hidden)
        nextSelector : "div.navigation a:first",
        // selector for the NEXT link (to page 2)
        itemSelector : "#content div.post"
        // selector for all items you'll retrieve
      });


    });



  </script>

<% end %>
