<div class="span12 well" style="height:140px;overflow-y: auto;">
    <%= @course.description  %>
  </div>

  <div class="span3 well" style="height:600px;margin-left: 0px">
    <ul class="nav nav-list">
      <li class="nav-header"><h5>Topics under this course</h5></li>
      <% @topics.each do |topic| %>
        <li class="<%= "active" if @topic_id.to_i == topic.id %>">
          <%= link_to topic.title, course_path(@course, :topic_id => topic.id) %>
        </li>
      <% end %>
    </ul>
  </div>