<% if @approved_links.any? %>
  <h5>Approved Links of this Topic</h5>
  <legend></legend>
  <div class="span12 well" style="max-height: 280px; overflow-y: auto;overflow-x: hidden;margin-left: 0px">
    <% @approved_links.each_with_index do |link, index| %>
      <%= render 'vote', :link => link, :index => index %>
    <% end %>
  </div>
<% end %>
<% if @unapproved_links.any? %>
  <h5>User submitted links of this Course</h5>
  <legend></legend>
  <div class="span12 well" style="max-height: 280px; margin-left: 0px;overflow-y: auto;overflow-x: hidden;">
    <% @unapproved_links.each_with_index do |link, index| %>


      <%= render 'vote', :link => link, :index => index %>
    <% end %>
  </div>
<% end %>