<%= link_to course_topic_section_link_path(@course.id, @topic.id, @section.id, link.id), :class => "list-group-item link_section span11" do %>
  <h4 class="list-group-item-heading"><%= link.url %></h4>
  <p class="list-group-item-text"><%= link.description.truncate(200) %></p>
<% end %>
<%= render "courses/vote_arrow", :link => link %>




