footer {
    margin-top: 70px;
}

body {
    background-color: #d9e9f6;
}

label#remember_me {
    width: 100px;
    display: inline-block;
    float: left;
    margin-top: 1px;
}

input#remember_check {
    width: 40px;
    display: inline-block;
    float: left;
    margin-right: 9px;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

h1,h2,h3,h4 {
    color: #777777;
}

.item {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    width: 245px;
    color: #211922;
}

.ajax-loader {
    display: none;
    border-top: 1px solid #777777;
    text-align: center;
    margin-top: 40px;
}

.ajax-loader img {
    position: relative;
    bottom: 16px;
    background-color: #d9e9f6;
    padding-left: 10px;
    padding-right: 10px;

}

#container {
    padding: 0 10px;

}

#container .item {
    text-align: center;
    vertical-align: middle;
}

.course-name {
    color: #777777;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 0 1px 0 #FFFFFF;
}

.course-name:hover {
    color: #777777;
}

.forgot-link {
    position: relative;
    top: 2px;
    margin: 10px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid green;
    cursor: pointer;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-top: 15px solid red;
    cursor: pointer;
}

.link-desc {
    display: inline-block;
    float: left;
    width: 400px;
}

.arrow-container {
    display: inline-block;
    float: left;
    width: 200px;
}

.single-arrow {
    width: 100px;
    float: left;
}

.arrow-text {
    display: inline-block;
    width: 30px;
    height: 15px;
    text-align: center;
}

.link-view {
    width: 80%;
    height: 450px;
    border: none;
    margin: 15px 0;
}

.frame-wrapper {
    /*    margin-top: 50px;*/

    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

}

.frame-wrapper #ytplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.single-res {
    margin-bottom: 10px;
}

.single-res div.attr-name {
    color: #777777;
    font-size: 14px;
}

.single-link  div.attr-name {
    color: #777777;
    font-size: 14px;
}

.single-link div.attr-val {
    color: #333333;
    font-size: 14px;
}

div.link-hover:hover {
    background-color: rgba(0, 0, 255, 0.3);
}

div.underline {
    border-bottom: 1px solid #777777;
    margin-bottom: 10px;
}

.course-name-header {
    color: #777777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

.error {
    color: red;
}