<div class="home-wrap">

  <h3>Select Your School</h3>

  <%= form_tag set_session_schools_path, :method => :get do |f| %>
    <%= select_tag "school", options_from_collection_for_select(@school, "id", "name"), :prompt => "Select School", :id => "school_select", :class => "uniform" %>
  <% end %>

</div>