<h1>Select School Name</h1>
<p>Find me in app/views/public/index.html.erb</p>

<%= form_tag set_session_schools_path, :method => :get do |f| %>
  <%= select_tag "school", options_from_collection_for_select(@school, "id", "name"), :prompt => "Select School", :id => "school_select" %>
<% end %>

